html,
body {
  height: 100%;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 300;
  margin: 0;

  background: #0b0b0b;
  color: #fff;

  overflow-x: hidden;
}

h1 {
  font-weight: 300;
}
